.spin {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
}

.header_detail_doctor {
  font-size: 20px;
  margin-bottom: 20px;

  .name_doctor {
    margin-left: 10px;
  }
}

.doctor_information {
  .header_doctor_information {
    height: 40px;
    display: flex;
    justify-content: space-between;

    .button_edit {
      button {
        height: 40px;
      }
    }
  }

  .btn_add {
    background: #0064e6;
    border-radius: 5px;
    height: 40px;
  }
  
  .btn_cancel {
    margin-right: 15px;
    border-radius: 5px;
    height: 40px;
  }
}

.doctor_introduce {
  .header_doctor_introduce {
    height: 40px;
    display: flex;
    justify-content: space-between;

    .button_edit {
      button {
        height: 40px;
      }
    }
  }

  .btn_add {
    background: #0064e6;
    border-radius: 5px;
    height: 40px;
  }
  
  .btn_cancel {
    margin-right: 15px;
    border-radius: 5px;
    height: 40px;
  }

  .react_quill_disable {
    background: #f5f5f5;
  }
}