.header_doctor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;

  .search_doctor {
    width: 300px;
  }

  #btn__filter {
    margin-right: 10px;
    border: 0.5px solid #d7e0fc;
    background-color: transparent;
    height: 40px;
    width: 40px;
  }
  
  .list_button {
    .button {
      border-radius: 10px;
      margin-left: 10px;
    }
  }
}


.fontSizeAlert {
  margin: 16px 0;
  font-size: 14px;
}

.btn_active,
.btn_active:hover,
.btn_active:focus {
  margin-left: 10px !important;
  padding: 0 10px;
  color: black;
  font-weight: 600 !important;
  font-size: 12px !important;
  background: #fff !important;
  border-radius: 3px;
}
.transformY_2 {
  transform: translateY(2px);
}
.ml_8 {
  margin-left: 8px;
}