.spin {
  margin: 20px 0;
  margin-bottom: 20px;
  padding: 30px 50px;
  text-align: center;
}

.header_detail_clinic {
  font-size: 20px;
  margin-bottom: 20px;

  .name_clinic {
    margin-left: 10px;
  }
}
