.header_schedule {
  display: flex;
  justify-content: space-between;

  .date_picker {
    width: 300px;

    .ant-picker-input {
      input:focus {
        border: none;
      }
    }
  }
}

.list_schedule {
  .title_list_schedule {
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0 0 0;
  }
  .description_list_schedule {
    margin-bottom: 10px;
  }

  .ant-space {
    gap: 38px !important;
    .ant-space-item {
      button {
        border-radius: 5px;
        height: 40px;
      }
      .button_origin {
        border-color: #1677ff;
        color: #1677ff;
      }
    }
  }
}

.button_update_schedules {
  margin-top: 20px;
  
  // margin: auto;
  text-align: center;

  button {
    height: 40px;
    border-radius: 5px;
  }
}

.table_list_schdule {
  .fontSizeAlert {
    margin: 16px 0;
    font-size: 14px;
  }
  
  .btn_active,
  .btn_active:hover,
  .btn_active:focus {
    margin-left: 10px !important;
    padding: 0 10px;
    color: black;
    font-weight: 600 !important;
    font-size: 12px !important;
    background: #fff !important;
    border-radius: 3px;
  }
  .transformY_2 {
    transform: translateY(2px);
  }
  .ml_8 {
    margin-left: 8px;
  }
}